@model Productt
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table table-bordered">

    <tr>
        <td>
            <label asp-for="Name"></label>
        </td>
        <td> @Model.Name </td>
    </tr>
    <tr>
        <td>
            <label asp-for="Price"></label>
        </td>
        <td> @Model.Price </td>
    </tr>

    <tr>
        <td>
            <label asp-for="Category"></label>
        </td>
        <td> @Model.CategoryId </td>
    </tr>
    <tr>
        <td>
            <label asp-for="IsActive"></label>
        </td>
        <td>
            @if (Model.IsActive)
            {
                <span class="text-success"> Active</span>
            }
            else
            {
                <span class="text-danger"> Non-Active</span>
            }
        </td>
    </tr>

</table> 